environment            = "dev"
application_domain     = "secure-dev.lax-man.in"
endpoint_domain_prefix = "lax-man-dev"

approved_identity_center_group_id = "REPLACE_ME_DEV_GROUP_UUID"
alert_email                      = "sammaxi416@gmail.com"
enable_verified_access           = false
