terraform {
  backend "s3" {
    bucket       = "REPLACE_ME-terraform-state"
    key          = "aws-verified-access-zero-trust/dev/terraform.tfstate"
    region       = "us-east-1"
    encrypt      = true
    use_lockfile = true
  }
}
